## data/dset
data/dset

## data/tibet
data/tibet/*
!data/tibet/tibet-boundary
!data/tibet/s1_footprint
!data/tibet/tibet_tiles_vec

## figure
figure/check_tiles_base
figure/check_tiles_improve
figure/dataset
figure/methods_evaluation

## pretained model
model/trained_model/single
model/trained_model/scales/unet_scales
model/trained_model/scales/unet_scales_gate/traset

## the other
.venv
.vscode
.DS_Store
*__pycache__/

