## data/dset
data/dset/s1_ascend/*
# !data/dset/s1_ascend/s1as_scene01.tif
data/dset/s1_descend/*
# !data/dset/s1_descend/s1des_scene01.tif
data/dset/s2_img/*
data/dset/s1_truth/*
!data/dset/s1_truth/scene01_wat_truth.tif
data/dset/s1_water_test_gscales
data/dset/s1_water_test_scales
data/dset/s1_water_test_single
data/dset/s1_water_test_as
data/dset/s1_water_test_des
data/dset/s2_img/*
# !data/dset/s2_img/scene01_s2_img.tif    # over 100M
data/dset/val_patches
data/dset/s1_as_des/*
data/dset/metrics_as_des_in/*

## data/tibet
data/tibet/dem/*
# !data/tibet/dem/tibet_SRTMGL3_down.tif
data/tibet/tibet-plateau-boundary/*
!data/tibet/tibet-plateau-boundary/TPBoundary_HF
data/tibet/s1_footprint/*

## pretained model
model/pretrained/*
!model/pretrained/model_scales_gate_001_weights.pth

## the other
.venv
.vscode
.DS_Store
*__pycache__/

